<%= form_with(model: bank, class: "contents") do |form| %>
  <% if bank.errors.any? %>
		<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded justify-between mb-4">
			<h2><%= pluralize(bank.errors.count, "errores") %>: </h2>
			<ul class="text-sm list-disc pl-6">
				<% bank.errors.each do |error| %>
				<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

  	<div class="my-5">
		<%= form.label :name %>
		<%= form.text_field :name, class: "field-input" %>
  	</div>

	<div class="inline">
		<%= form.submit class: "btn-primary" %>
	</div>
<% end %>
